h1 {
    color : rgba(170, 197, 19, 0.712);
    font-size: 60px ;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-align: center;
  }
  h3 {
    font-size: 40px ;
    font-family: sans-serif;
    text-align: center;
    float: right;
    color: blue
h5{
    color :rgba(170, 197, 19, 0.712);
}
  }
  body{
    background-color: transparent;
    font-family: sans-serif;
    }
    section{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    
    .section-1 {
        background: #063647;
        
    }
    a.nav-item {
        color: rgba(211, 236, 19, 0.712);
    }
    
    a.nav-item:hover {
        color: rgba(211, 236, 19, 0.712);
    }
    .box {
        background-color: transparent;
        border: 2px solid rgba(7, 59, 79, 0.5);
    }
    form{
        text-align: center;
    }
    @media screen and (max-width: 768px) 